.first-section{
    margin-top: 20px;
}
.sing-in{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    margin-right: 50px;
    width: 104px;
    height: 43px;
    left: 1201px;
    top: 25px;
    background: #21B573;
    border-radius: 33px;
    color: white;
    font-size: small;
}
.get-started{
    
    margin-top: 25px;
    margin-bottom: 20px;
    background: #21B573;
    color:white;
    border: none;
    border-radius: 33px;
    padding: 9px 25px;
    cursor: pointer;
}
.image{
    width: 480px;
    height:346px;
    left: 691px;
    top: 157px;
    

}

.second-section{
    margin-top: 30px;
}
.schedule{
   color: #21B573;
}
.first-line{
   
    color: #FD511A;
}
.second-line{
    font-weight: bold;
    padding-right: 30px;
    font-size: 48px;
}
.third-line{ 
    color: gray;
    padding-right: 10px;
}

.first-write{
    margin-top: 80px;
}
.first-section{
    background-color: #F0FFF0;
    height: 550px;
}
.box{
    width: 270px;
    height: 270px;
    background-color: #F8FFFB;
    border: 5px;
    padding: 20px;
    margin: 10px;
}
.box-section{
    margin-top: 40px;
}
.box-image{
    
    width: 80px;
    height: 83px;
    margin: 10px;
    
}
.box-caption{
    margin-top: 25px;
}
.box-text{
    color: grey;
    margin-bottom: 40px;
}
.box:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.card-img-top{
    padding: 16px;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border: none;
}
.buy-course{
    
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #21B573;
    color:white;
    border: none;
    border-radius: 33px;
    padding: 8px 28px;
    cursor: pointer; 
}
.card-text{
    color: gray;
}
.card-title{
    font-weight: 700;
    font-size: 24px;
    line-height:36px; 
}
.calender{
    width: 18px;
    height: 20px;
}
.first-text{
    margin-left: 15px;
    margin-bottom: 20px;
}
.third-section{
    margin-top: 80px;
}
.online-write{
    font-weight: bold;
    margin-bottom: 70px;
}
.card-t{
    color: grey;
    font-weight: 450;
}
.man-image{
    width: 120px;
    height: 120px;

}
.last-section{
    
    margin-top: 80px;
    
}
.course{
   
    line-height: 20px;
}
.heading{
    font-weight: 700;
}
.copyright-text{
    margin-top: 60px;
    
    
}
.last-section{

    background-color: #282531;
    color: white;
    height: 400px;
}
.ch{
    height: 60px;
}
.man-section{
    background-color: aqua;
}
.first-write{
    padding: 20px;
}




